<%-include("partials/header")%>

<div class="com">

    <h1 class="heading">Compose</h1>
    <h6>Title</h2>
     <form class="" action="/compose" method="post">
    <input class= "content" type="text" name="title">
        
    <h6>Post</h6>
    
    <input class= "content1" type="text" name="postbody">
    <div class="btn">
    <button type="submit" class="btn btn-primary" name="list">Publish</button>
    </div>
</form>
</div>


<%-include("partials/footer")%>